body{
    background-color: crimson;

}
.h1{
    display: flex;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;

}
.card{
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060
}
.label-float input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 1px solid #272262 ;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    border-radius: 0;
}
.label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.label-float input:focus{
    border-bottom: 2px solid blue;
}
.label-float label{
    color: #272262;
    pointer-events: none;
}
input{
    background-color: transparent;
    border-color: #272262;
    color: #272262;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
}
justify-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
}   
hr{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
}
p{
    color: #272262;
    font-size: 14pt;
    text-align: center;
}
a{
    color: #7a3077;
    font-weight: bold;
    text-decoration: none;
}
